.solution{

    .engagement-icon{
        background-image: url(./solution/images/4-engagement.png);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        background-position: center;
        background-size: 100% 100%;
    }

}
