.multiPage{

  .multiImages{
    background-color: #FFFFFF;
  }
  label{
    font-weight: 400;
  }

}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:flex;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.custom_margin{
  margin-bottom:15px;
  background-color: white;
    padding: 10px 10px 10px 0px;
    border: 1px solid #b9d8f7;
}
.errorClass{
  color: red;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-top: 10px;
}