
<form name="editForm" role="form"  ng-submit="vm.save()">
    <div class="loadermodal" ng-show="loaderfeedback"></div>	
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myJobProcessLabel">Create or Edit Pipeline</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="pipNm">Pipeline Name</label>
            <input type="text" class="form-control" id="pipNm" name="pipNm" ng-model="vm.pipline.pipeNm"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="type">Type</label>
             <select   class="form-control" name="type" id="type" ng-model="vm.pipline.type">
                 <option value="">Please select</option>
                 <option ng-repeat="ptype in piplineype" value="{$ptype.sysCd$}">{$ptype.sysCd$}</option>
             </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" ng-model="vm.pipline.description" />
        </div>
        <div class="form-group">
            <label class="control-label" for="stageinfo">Stage Info</label>
            <textarea type="text" class="form-control" name="stageinfo" id="stageinfo" ng-model="vm.pipline.stageInfo" readonly>
            </textarea>
        </div>
        <div class="form-group" style="display:none">
            <label class="control-label" for="Text">Stage Prev Info</label>
            <input type="text" class="form-control" name="Text" id="Text" ng-model="vm.pipline.stagePrevInfo" />
        </div>
         <div class="form-group">
            <label class="control-label" for="model">Comments</label>
            <input type="text" class="form-control" name="model" id="model" ng-model="vm.pipline.reason" />
        </div>  
        <div class="form-group">
            <label class="control-label" for="status">Status</label>
             <select class="form-control" name="status" id="status" ng-model="vm.pipline.statusCd" ng-disabled="{$ mySwitch $}">
                 <option value="DRAFT">DRAFT</option>
                 <option value="FINAL">FINAL</option>
                 <option value="DEPRICATED">DEPRICATED</option>
            </select>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit"  class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
