<div id="wrapper" class="toggled-2">
      <header></header>
      <left-menu id="left-menus"></left-menu>
      <div id="page-content-wrapper">
        <!--<div data-ui-view="header"></div>-->
        <!--<jsc-breadcrumbs backbutton="true"></jsc-breadcrumbs>
        <div class="bread-crumb" ng-bind-html="breadCrumb"></div>-->
        <!--<div class="bodyheader">
          <div class="row">
            <div class="col-sm-12" style="padding-top: 5px;padding-left: 25px;">

              <span class="solution-name" id="slnName" ng-bind="solutionName"></span>
              <img class="headerLogo" src="images/xpms_small.png" />
            </div>
          </div>
          <div class="clear"></div>
        </div>-->
          <!--<div class="bodyheader">-->
              <!--<div class="row">-->
                <!--<div class="col-sm-12" style="padding-top: 5px;padding-left: 25px;">-->
                  <!--<span class="solution-name" id="slnName" ng-bind="$root.solutionName"></span>-->
                  <!--<img class="headerLogo" src="./app/images/xpms_small.png" />-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="clear"></div>-->
          <!--</div>-->
          <body-content></body-content>
          <br><br>
          <!--<footer></footer>-->
      </div>
</div>




