<div>
     <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="uploadImageShow">
                        <h4>Please upload the training set</h4>
                    </div>
                    <div class="row" ng-show="!uploadImageShow">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <h4>Please upload the training set</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <img src="/app/images/Upload-01.png" style="width:35px;" class="pointerClass" ngf-select="uploadFiles($files)" multiple="multiple" />
                            <span ngf-select="uploadFiles($files)" multiple="multiple" class="pointerClass">Upload More</span>
                        </div>
                    </div>


                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center" ng-show="uploadImageShow">
                        <img src="/app/images/Upload-01.png" style="width:200px;" class="pointerClass" ngf-select="uploadFiles($files)" multiple="multiple" />
                        <h4>Upload Documents</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                            <div class="panel panel-default panel-train">
                                <div class="custom-padding" ng-repeat="document in uploadedDocuments" style="border-top: 1px solid #eee;border-bottom: 2px solid #ddd !important;">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <span>{$ document.metadata.file_name $}</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <i class="fa fa-check-circle success" style="cursor: pointer" ng-if="document.doc_state=='ready' || document.doc_state=='trained'"></i>
                                            <i class="fa fa-times-circle danger" style="cursor: pointer" ng-if="document.doc_state!='ready' && document.doc_state!='trained'"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <i class="fa fa-trash" style="cursor: pointer" ng-click="deleteFile(document,$index)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-custom" ng-click="trainigSet()" ng-show="!uploadImageShow">Submit As Training Set</button>
                        </div>
                    </div>
                </div>
</div>